

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;1,100;1,200;1,300&family=Manrope:wght@200;500;700;800&family=Montserrat:ital,wght@0,300;0,400;1,100;1,200;1,300&family=Nunito:ital,wght@0,300;1,400;1,500;1,600&family=Open+Sans:ital,wght@0,300;0,600;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,500;1,100;1,300&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,300&family=Sora:wght@100;300;600;700&family=Trispace:wght@200;300;600;700&display=swap');


/* font-family: 'Archivo', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sora', sans-serif;
font-family: 'Trispace', sans-serif; */